*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.ttf");
}

.button,
.contact-form__submit,
.header-bottom__button-get,
.header-bottom__button-more,
.header-top__contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 20px 23px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  color: #ff3946;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

body {
  height: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #000;
}

.container-wide {
  max-width: 1700px;
  padding: 0 15px;
  margin: 0 auto;
}

.content-container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  overflow: hidden;
}

.header-top {
  min-height: 50px;
  background-color: #fff;
  text-align: right;
  padding-top: 30px;
  width: 100%;
  top: 0;
}

.header-top__logo {
  max-width: 70px;
  position: absolute;
  left: 0;
  top: 0;
}

.header-top__menu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  width: 100%;
  top: -2000px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  background-color: rgba(252, 252, 252, 0.9);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header-top__menu-link,
.footer__menu-link {
  color: #314584;
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header-top__menu-link:hover,
.footer__menu-link:hover {
  color: #ff3946;
}

.header-top__change-lang {
  display: none;
}

.header-top__change-lang-option {
  font-weight: 600;
  background-color: #fff;
}

.header-top__contact-btn {
  margin-left: 45px;
}

.header-top__contact-btn:hover {
  background-color: #314584;
}

.header-top__toggle {
  padding: none;
  display: inline-block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.header-top__toggle img {
  display: inline-block;
  width: 25px;
  vertical-align: middle;
}

.header-top__toggle[aria-expanded=true] {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-opened {
  top: 45px !important;
}

.header-bottom {
  padding-top: 100px;
}

.header-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header-bottom__title {
  font-size: 30px;
  color: #314584;
  margin-bottom: 20px;
  text-align: center;
}

.header-bottom__article {
  color: #6e757a;
  margin-bottom: 20px;
  text-align: center;
}

.header-bottom__button-more {
  margin-right: 0;
  border-radius: 25px;
  color: #fff;
  background-color: #ff3946;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(255, 57, 70, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(255, 57, 70, 0.15);
}

.header-bottom__button-more:hover {
  background-color: #314584;
}

.header-bottom__button-get {
  color: #314584;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-bottom__button-get:hover {
  color: #ff3946;
}

.slider-container {
  display: none;
}

.slider {
  position: relative;
  width: 700px;
  height: 650px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slide__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slide_active {
  opacity: 1;
}

.creative {
  padding-top: 80px;
}

.creative__title,
.contact__title {
  font-size: 30px;
  color: #314584;
  margin-bottom: 20px;
}

.creative__collection {
  display: -ms-grid;
  display: grid;
  max-height: 1180px;
  overflow: hidden;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 10px;
}

.creative__collection-item {
  width: 100%;
  height: 280px;
  background-color: #c3d0d8;
}

.creative__link,
.contact__link {
  color: #ff3946;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.contact {
  padding: 30px 0;
}

.contact__link {
  display: block;
  text-transform: uppercase;
  -moz-text-align-last: left;
       text-align-last: left;
  margin-bottom: 15px;
}

.contact-form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form__input,
.contact-form__textarea {
  width: 100%;
  outline: 0;
  border: 0;
  padding: 20px;
  background-color: #f4fafe;
  color: #314584;
  margin-bottom: 15px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.contact-form__input::-webkit-input-placeholder, .contact-form__textarea::-webkit-input-placeholder {
  color: #314584;
}

.contact-form__input::-moz-placeholder, .contact-form__textarea::-moz-placeholder {
  color: #314584;
}

.contact-form__input:-ms-input-placeholder, .contact-form__textarea:-ms-input-placeholder {
  color: #314584;
}

.contact-form__input::-ms-input-placeholder, .contact-form__textarea::-ms-input-placeholder {
  color: #314584;
}

.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
  color: #314584;
}

.contact-form__textarea {
  width: 100%;
  min-height: 120px;
  resize: none;
}

.contact-form__submit {
  margin-right: 0;
  border-radius: 25px;
  color: #fff;
  background-color: #ff3946;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(255, 57, 70, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(255, 57, 70, 0.15);
  margin: 0 auto;
}

.contact-form__submit:hover {
  background-color: #314584;
}

.footer {
  background-color: #314584;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__logo {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
}

.footer__title {
  text-transform: uppercase;
  color: #ff3946;
  font-size: 22px;
  margin-bottom: 20px;
}

.footer__menu {
  margin-bottom: 20px;
}

.footer__menu-link {
  color: #fff;
  padding: 8px 0;
  font-size: 14px;
}

.footer__copyright {
  font-size: 14px;
  color: #fff;
  margin-bottom: 15px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-item {
  max-height: 37px;
  padding: 0 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.footer__social-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 576px) {
  .container-wide {
    max-width: 540px;
  }

  .content-container {
    max-width: 540px;
  }

  .header-bottom__buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-bottom__button-more {
    margin-right: 5px;
  }
}

@media (min-width: 768px) {
  .container-wide {
    max-width: 720px;
  }

  .content-container {
    max-width: 720px;
  }

  .header-top__logo {
    left: calc(50% - 35px);
    top: -20px;
  }

  .header-top__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 60px;
  }

  .header-top__menu {
    height: auto;
    display: block;
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
  }

  .header-top__menu-item {
    padding: 0;
    margin-right: 25px;
  }

  .header-top__menu-item:last-child {
    margin-right: 0;
  }

  .header-top__change-lang {
    width: 40px;
    border: none;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    color: #314584;
    font-weight: 600;
    font-size: 18px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    overflow: hidden;
    background: url("../img/icons/navigation-icons/change-lang-icon.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10px;
  }

  .header-top__toggle {
    display: none;
  }

  .creative__title,
  .contact__title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .creative__collection {
    max-height: 930px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    grid-auto-flow: row;
  }

  .creative__collection-item {
    max-width: 330px;
  }

  .contact {
    padding: 150px 0 60px;
  }

  .contact-form__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 38px;
  }

  .contact-form__input:first-child,
  .contact-form__textarea:first-child {
    margin-right: 30px;
  }

  .contact-form__textarea {
    margin-bottom: 65px;
  }

  .footer {
    padding: 70px 0 50px;
  }

  .footer__logo {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .footer__title {
    font-size: 48px;
    line-height: 60pxm;
    margin-bottom: 45px;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
  }

  .footer__menu-item {
    margin-right: 45px;
  }

  .footer__menu-item:last-child {
    margin-right: 0;
  }

  .footer__menu-link {
    font-size: 18px;
  }

  .footer__copyright {
    margin-bottom: 40px;
  }

  .footer__social-item {
    padding: 0 42px;
  }
}

@media (min-width: 992px) {
  .container-wide {
    max-width: 960px;
  }

  .content-container {
    max-width: 960px;
  }

  .header-top {
    padding-top: 70px;
  }

  .header-top__logo {
    left: 0;
    top: -25px;
  }

  .header-top__menu-item {
    padding: 0;
    margin-right: 45px;
  }

  .header-top__menu-item:last-child {
    margin-right: 0;
  }

  .header-bottom {
    padding-top: 200px;
  }

  .header-bottom-left {
    max-width: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header-bottom__title {
    font-size: 50px;
    text-align: left;
  }

  .header-bottom__article {
    text-align: left;
  }

  .slider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    max-width: 400px;
    position: absolute;
    top: -200px;
    right: -5px;
  }

  .slide__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    max-width: 400px;
  }

  .creative__title,
  .contact__title {
    margin-bottom: 90px;
    font-size: 48px;
    line-height: 60px;
  }

  .creative__collection {
    max-height: 600px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 55px;
  }

  .creative__collection-item {
    max-width: 370px;
  }

  .contact__link {
    margin-bottom: 30px;
  }

  .contact__title {
    margin-bottom: 55px;
  }
}

@media (min-width: 1200px) {
  .container-wide {
    max-width: 1140px;
  }

  .content-container {
    max-width: 1140px;
  }

  .header-top__logo {
    left: 0;
    top: -25px;
  }

  .header-bottom {
    padding-top: 250px;
  }

  .header-bottom__title {
    margin-bottom: 45px;
  }

  .header-bottom__article {
    margin-bottom: 45px;
    line-height: 30px;
  }
}

@media (min-width: 1320px) {
  .container-wide {
    max-width: 1200px;
  }

  .content-container {
    max-width: 1200px;
  }

  .header-top__logo {
    left: 0;
    top: -25px;
  }

  .header-bottom {
    padding-top: 200px;
  }

  .header-bottom__title {
    font-size: 74px;
    line-height: 95px;
  }

  .creative__collection-item {
    width: 370px;
  }
}

@media (min-width: 1700px) {
  .header-top__logo {
    left: -150px;
    left: -235px;
    top: 15px;
  }

  .slider-container {
    max-width: 680px;
    right: -250px;
    top: -100px;
  }

  .slide__img {
    max-width: 680px;
  }

  .creative {
    padding-top: 330px;
  }
}

@media (max-width: 1200px) {
  .header-top__contact-btn {
    display: none;
  }
}